<% include partials/header.ejs %>
<h1>eccommerce app</h1>
 <% docs.forEach(function(doc){%>
    <ul id="images">
        <li class="image"> <img src="<%=doc.imagePath%>"  alt="camp image" height="190px" width="200px" ></li>
        <li class="image"><h2><%=doc.title%></h2></li>
        <li><%=doc.description%></li>
        <li class="amount" > <h4><%=doc.price%>$</h4> <a href="/add-to-cart/<%=doc._id%>"><h4>Add To Shopping Cart</h4></a></li>
    </ul>
<%}) %>
   <% include partials/footer.ejs %>